<html>
<head>
<meta charset="UTF-8" />
<title>强子老师简介-潭州搜索</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<style type="text/css">
*{margin:0;padding:0;}
<!--
body {
	font-family:微软雅黑;
	background-color: #003300;
}
.qiangzi{
	margin:0 auto;
	width:900px;
	height:658px;
	background:#abcdef;
	
}
.qiangzi img{
	width:508px;
	height:658px;
	float:left;
}
.qiangzijj{
	width:392px;
	height:658px;
	float:left;
	text-align:center;
}
.jl{
	font-size:20px;
	width:200px;
	color:#666;
	margin:0 auto;
}
-->
</style>
</head>
<div class="qiangzi">
	<img src="static/images/qz.jpg" width="508" height="658" alt="强子老师照片" title="强子老师简介" />
	<div class="qiangzijj">
		<h1>强子老师简介</h1><br /><br /><br />
		<p>身高:171&nbsp;&nbsp;&nbsp;&nbsp;体重:65Kg</p><br /><br />
		<p>爱好:打篮球、爬山、唱歌</p><br /><br />
		<p class="jl">个人经历:8年软件开发经验， 09年-12年创业期间业务包括网站开发，网站运营（从0--日IP2W），软件开发，商业软件开发后自营， 12年加入潭州，先后任职多学科主讲老师，为潭州开发多个项目，项目经验丰富， 现为潭州Python学院创始人兼院长！</p>
	</div>
</div>
<div class="cnzz">                        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256413534'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1256413534' type='text/javascript'%3E%3C/script%3E"));</script>
                </div>

</html>
