<html>
<head>
<meta charset="UTF-8" />
<title>锁薇老师简介-潭州搜索</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<style type="text/css">
*{margin:0;padding:0;}
<!--
body {
	font-family:微软雅黑;
	background-color: #003300;
}
.qiangzi{
	margin:0 auto;
	width:900px;
	height:658px;
	background:#abcdef;
	
}
.qiangzi img{
	width:508px;
	height:658px;
	float:left;
}
.qiangzijj{
	width:392px;
	height:658px;
	float:left;
	text-align:center;
}
.jl{
	font-size:20px;
	width:200px;
	color:#666;
	margin:0 auto;
}
-->
</style>
</head>
<div class="qiangzi">
	<img src="static/images/sw.jpg" width="508" height="658" alt="锁薇老师照片" title="锁薇老师简介" />
	<div class="qiangzijj">
		<h1>锁薇老师简介</h1><br /><br /><br />
		<p>爱好:爬山、唱歌、跳舞、敲代码</p><br /><br />
		<p class="jl">1.拥有5年丰富的授课经验，精通Python web网站页面设计和特效应用框架 </p>
<p class="jl">2.精通python脚步编程，精通HA、HPC、LVS集群 </p>
<p class="jl">3. 熟悉数据库表设计、SQL语法，熟悉Oracle/mysql数据库 </p>
<p class="jl">4. 熟悉Linux环境开发，长期的linux项目经验，熟练使用SHELL命令和脚本语言 </p>
<p class="jl">5. 熟悉面向对象的分析和设计技术，熟练运用设计模式 </p>
	</div>
</div>
<div class="cnzz">                        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256413534'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1256413534' type='text/javascript'%3E%3C/script%3E"));</script>
                </div>

</html>
