<!DOCTYPE html>
<html>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
<TITLE>这就是潭州</TITLE>
<H1>这就是潭州</H1>
<DL><p>

<DL><p>
	<DT><H3 FOLDED ADD_DATE="1465904350" FAV_POS="0">优酷</H3>
	<DL><p>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTQwMzIxMDU3Ng==.html?from=y1.7-1.2" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="1" >潭州设计集群-在路上—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTQ1MDY5Nzg4NA==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="2" >黎霞老师《战台风》古筝版 --潭州音乐学院—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTQ0ODU1ODc0NA==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="3" >潭州移动事业-祝大家新年快乐—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTQyMjY5MzcyNA==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="4" >潭州农业学院1周年庆-一路感谢有你！—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTQ0MTA5MzYyNA==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="5" >022.潭州教育美联教室节装扮自己的办公室—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTQ0MjI0MjI2NA==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="6" >2016年潭州教育 新课程事业集群给大家拜年啦~—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTQ0MTk1MTAzMg==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="7" >潭州教育K12元旦迎新晚会—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTM2OTM0OTk2OA==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="8" >潭州教育千人齐聚一堂音乐学院现场演奏《光辉岁月》—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTQ0MjU3MDQ4OA==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="9" >潭州教育2016软件集群新年祝福—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XODc5MzkzMDYw.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="10" >在线教育领航者-潭州学院SEO研究中心—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTM3MTk1OTg1Mg==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="11" >潭州教育第二期MVP班拍摄花絮首发—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTM2Nzk4NjkzNg==.html%A0" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="12" >潭州教育全球首发摄影大师之路MVP外拍达人视频—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTQ0MjUxMjE0OA==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="13" >潭州教育公司乔迁庆典——付出不亚于任何人的努力！—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTM5Nzg3NDQ2OA==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="14" >潭州教育-10月员工总结大会-2015—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTM5Nzg2OTU2MA==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="15" >潭州教育-第一期摄影大师之路-2015—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTM5Nzg3MDk5Ng==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="16" >潭州教育-第二期摄影大师之路-2015—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTM5Nzg2OTQ5Ng==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="17" >潭州教育-感恩节祝福-2015—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTM5Nzg2NTE4NA==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="18" >潭州教育-老师上课状态-2015—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTM5Nzg2NTA2MA==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="19" >潭州设计-阿Q老师专访-2015—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTQwODc5Nzc0NA==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="20" >潭州教育设计集群11月月度总结大会高清—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTQwODc5ODQ2NA==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="21" >潭州教育11月度总结暨员工表彰大会全程高清—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTQwOTE5NDQxMg==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="22" >老男孩（原版带原声）—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTQzMDI1MzcwNA==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="23" >潭州电商学院（淘宝）集群迎新联欢会—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTQxMDM4Mzg4NA==.html?from=y1.7-1.2" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="24" >中国首届“互联网+”设计视觉峰会-等你来！—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTQ1NzU2MDczNg==.html%A0" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="25" >潭州教育游戏动漫集群新年祝福—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTQzMTIxNDI0MA==.html?tpa=dW5pb25faWQ9MTAzMjUyXzEwMDAwMV8wMV8wMQ" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="26" >潭州教育传媒集群2015年全体老师新年祝福高清全球首发—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://www.iqiyi.com/w_19rt0y185t.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="27" >小清新美女翻唱黏黏黏黏 潭州音乐制作声乐作品秀-原创视频-爱奇艺</A>
		<DT><A HREF="http://v.qq.com/page/j/8/z/j01843afg8z.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="28" >董事长moon开年讲话，潭州教育黄埔事业集群 - 高清在线观看 - 腾讯视频</A>
		<DT><A HREF="http://www.tudou.com/programs/view/scUyjoWevsg/" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="29" >SEO研究中心教师节-学员祝福_土豆_高清视频在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTM5Nzg2OTIxNg==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="30" >潭州教育-湖南卫视采访-2015—在线播放—优酷网，视频高清在线观看</A>
	</DL><p>
	<DT><H3 FOLDED ADD_DATE="1465904350" FAV_POS="0">新闻</H3>
	<DL><p>
		<DT><A HREF="http://mt.sohu.com/20160123/n435627546.shtml" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="1" >出大事了 潭州教育获颁发“毕业证书”资格-搜狐</A>
		<DT><A HREF="http://mt.sohu.com/20160406/n443471688.shtml?qq-pf-to=pcqq.group" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="2" >湖南卫视专访潭州，解读在线教育趋势走向-搜狐</A>
		<DT><A HREF="http://v.game.sohu.com/play_29564711.html?qq-pf-to=pcqq.group" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="3" >特辑 湖南新闻联播播报教育界杀出了一匹黑马--潭州教育-"新闻联播"-V+ 游戏视频</A>
		<DT><A HREF="http://www.changsha.gov.cn/xxgk/szfgbmxxgkml/swszfpcjgxxgkml/gxkfq/gzdt/201509/t20150908_805733.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="4" >长沙市政府门户网站--国内最大互联网在线教育内容提供商落户麓谷</A>
		<DT><A HREF="http://v.qq.com/page/u/0/7/u01576vgd07.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="5" >潭州动漫游戏院长李齐林教授与汪涵在湖南经视 - 高清在线观看 - 腾讯视频</A>
		<DT><A HREF="http://v.qq.com/page/l/p/a/l0187jxw0pa.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="6" >( 潭州学院) 潭州电商学院宣传片 - 高清在线观看 - 腾讯视频</A>
		<DT><A HREF="http://v.qq.com/page/j/r/w/j0191xlikrw.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="7" >传统手工艺串珠结绳饰品制作</A>
		<DT><A HREF="http://v.qq.com/page/u/6/b/u0191df1w6b.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="8" >雕塑创作教程</A>
		<DT><A HREF="http://v.qq.com/page/z/2/x/z019181u82x.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="9" >速写入门教程，速写人物 潭州艺术学院 - 高清在线观看 - 腾讯视频</A>
		<DT><A HREF="http://v.qq.com/page/v/1/9/v0173dopl19.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="10" >潭州教育九周年，暨11月20日在线教育受益日 - 高清在线观看 - 腾讯视频</A>
		<DT><A HREF="http://v.qq.com/page/m/2/0/m0191139s20.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="11" >不忘初心—潭州加油 - 高清在线观看 - 腾讯视频</A>
		<DT><A HREF="http://v.qq.com/page/s/h/h/s0190be5hhh.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="12" >潭州教育 网络系统化在线学习的天堂 - 高清在线观看 - 腾讯视频</A>
		<DT><A HREF="http://v.qq.com/boke/page/y/0/i/y0178fzmj9i.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="13" >芒果台 潭州教育新闻视频 - 高清在线观看 - 腾讯视频</A>
		<DT><A HREF="http://v.qq.com/boke/page/n/0/e/n01757t4u8e.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="14" >潭州教育接受湖南卫视采访视频 - 高清在线观看 - 腾讯视频</A>
		<DT><A HREF="http://v.qq.com/boke/page/u/0/5/u0189afg2w5.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="15" >潭州教育不凡梦想心 - 高清在线观看 - 腾讯视频</A>
		<DT><A HREF="http://v.qq.com/boke/page/i/0/l/i01812b41wl.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="16" >2016潭州教育 工业集群宣传片 工业4.0新时代 - 高清在线观看 - 腾讯视频</A>
		<DT><A HREF="http://v.qq.com/page/i/h/h/i03011de8hh.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="17" >全国创新创业一线报道，中央财经（CCTV-2）播报潭州教育 - 高清在线观看 - 腾讯视频</A>
		<DT><A HREF="http://v.qq.com/page/f/u/z/f0305htrhuz.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="18" >潭州教育7月学费涨价通知 - 高清在线观看 - 腾讯视频</A>
		<DT><A HREF="http://v.youku.com/v_show/id_375963994.html?from=y1.2-1-106.3.3-2.1-1-1-2-0&qq-pf-to=pcqq.group" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="19" >2016潭州教育软件学院 名企行—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTYwNzg2MzY4NA==.html?qq-pf-to=pcqq.group" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="20" >潭州教育董事长周有贵为您献上父亲节的祝福！—在线播放—优酷网，视频高清在线观看</A>
	</DL><p>
	<DT><H3 FOLDED ADD_DATE="1465904350" FAV_POS="0">学院</H3>
	<DL><p>
		<DT><A HREF="http://v.youku.com/v_show/id_XNzU5ODA5ODk2.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="1" >潭州学院介绍官方字幕版—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XNzYzMTc5MDI4.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="2" >潭州学院-外语院长-小新老师—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XNzcxNjE1NjQ0.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="3" >潭州学院宣传片—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XODg5MTM0Njc2.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="4" >潭州学院助学贷款注意事项——创始人Moon老师—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XODg5MTM0Nzc2.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="5" >潭州学院助学贷款官方介绍——创始人Moon老师—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XOTE4MzMyNjc2.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="6" >潭州电商学院，只为培养优秀的电商人—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTM5Nzg3MTUxNg==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="7" >潭州教育-VIP学员来访-2015—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTQ0OTI2Nzc2OA==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="8" >2016潭州教育 工业集群宣传片-工业4.0 中国时代性的革命—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTM5Nzg2Nzc3Ng==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="9" >潭州教育-介绍-2015—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTM5Nzg2NzQwOA==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="10" >潭州教育-九年并肩-2015—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTM5Nzg2NTc5Mg==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="11" >潭州教育-九周年庆-2015—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XODE1MDQwODI4.html?from=y1.2-1-103.3.1-2.1-1-1-0-0" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="12" >潭州电商学院，学淘宝-天猫运营！_高清—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTM0ODg2NTUxNg==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="13" >2015潭州教育宣传片 教育圈要出大事儿了—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XMTQzODE2NDI5Ng==.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="14" >渔乎老师 室内设计课程宣传—在线播放—优酷网，视频高清在线观看</A>
	</DL><p>
	<DT><H3 FOLDED ADD_DATE="1465904350" FAV_POS="0">腾讯</H3>
	<DL><p>
		<DT><A HREF="http://v.qq.com/boke/page/y/v/i/y01805s96vi.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="1" >《我有一个梦》男儿当自强 - 高清在线观看 - 腾讯视频</A>
		<DT><A HREF="http://v.qq.com/page/b/v/l/b0182kxxcvl.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="2" >盘点2015，潭州新课程一周年花絮视频 - 高清在线观看 - 腾讯视频</A>
		<DT><A HREF="http://v.qq.com/page/q/j/0/q0182ang0j0.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="3" >2016走进潭州教育八大事业集群之新课程 - 高清在线观看 - 腾讯视频</A>
		<DT><A HREF="http://v.qq.com/boke/page/u/0/w/u0166d3dcxw.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="4" >《让梦想重返荣耀》网络版 - 高清在线观看 - 腾讯视频</A>
		<DT><A HREF="http://v.qq.com/page/c/b/n/c0169vtakbn.html?__t=1&ptag=1.qzone&_out=101%A0" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="5" >2016潭州教育校园招聘纪录片：不可复制的支点 - 高清在线观看 - 腾讯视频</A>
	</DL><p>
	<DT><H3 FOLDED ADD_DATE="1465904350" FAV_POS="0">潭州故事</H3>
	<DL><p>
		<DT><A HREF="http://changba.com/s/lW7eB8y6qc5YBCtJDPrjXw?ac=web&from=timeline&isappinstalled=1" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="1" >潭州伴奏 - 鲁四月 唱吧,最时尚的手机KTV</A>
		<DT><A HREF="http://noneedflw.v.mvote.net/wxvote/d58ef00b-fe32-ca76-e969-48d38bef42fa.html?jumpnoweixin=0" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="2" >2016中国在线教育百强评选投票</A>
	</DL><p>
	<DT><H3 FOLDED ADD_DATE="1465904350" FAV_POS="0">老师精品案例视频</H3>
	<DL><p>
		<DT><A HREF="http://v.youku.com/v_show/id_XODU4MjcyNzAw.html?firsttime=309" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="1" >【潭州学院】 阿梦老师 教你快速 成熟职业妆盘发 技巧 及 步骤—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XODU4MzYyODIw.html?firsttime=0" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="2" >【潭州学院】 环环老师你 教你糖果妆—在线播放—优酷网，视频高清在线观看</A>
		<DT><A HREF="http://v.youku.com/v_show/id_XODU4MzM3ODk2.html?firsttime=0" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="3" >【潭州学院】阿梦老师 教你快速小清新盘发 技巧 及 步骤—在线播放—优酷网，视频高清在线观看</A>
	</DL><p>
	<DT><H3 FOLDED ADD_DATE="1465904350" FAV_POS="0">企业资料</H3>
	<DL><p>
		<DT><A HREF="http://gsxt.saic.gov.cn/" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="1" >全国企业信用信息公示系统</A>
		<DT><A HREF="http://www.tanzhouedu.com/mall/client/clientTeacher.html" ADD_DATE="1465904350" LAST_VISIT="0" LAST_MODIFIED="1465904350" LOVEFAV="0" FAV_POS="2" >潭州教育在线教育平台_客户端</A>
	</DL><p>
</DL><p>
</DL><p>
</DL><p>
<html>
